body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Verdana', sans-serif;
    text-align: center;
    padding: 40px;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}

/* Fondo real */
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -2;
}

/* Capa suave encima */
body::after {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(4px);
    z-index: -1;
} 
#pregunta-container {
    position: relative;
    padding: 60px 40px;
    max-width: 720px;
    margin: 100px auto;
    border-radius: 14px;

    background:
        linear-gradient(145deg, #d9a86c, #c58a47);

    border: 6px solid #6b3f1f;

    box-shadow:
        0 20px 40px rgba(0,0,0,0.35);

    transform: rotate(-0.5deg);
    z-index: 1;
}
#pregunta-container::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 14px;

    background:
        repeating-linear-gradient(
            90deg,
            rgba(255,255,255,0.04) 0px,
            rgba(255,255,255,0.04) 3px,
            rgba(0,0,0,0.03) 3px,
            rgba(0,0,0,0.03) 6px
        );

    pointer-events: none;
}

#pregunta {
    color: #3a1f0f;
    font-size: 1.6rem;
}

