body {
font-family: Arial;
text-align: center;
background-color: #f0f0f0;
}

button {
display: block;
margin: 10px auto;
padding: 10px 20px;
font-size: 16px;
cursor: pointer;
}

.categorias {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 20px;
justify-items: center;
margin-top: 40px;
}